MONGO_URL=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority
DB_NAME=portfolio
EMERGENT_EMAIL_KEY=
EMAIL_FROM_NAME=Portfolio Contact
OWNER_EMAIL=you@example.com
EMERGENT_LLM_KEY=
CORS_ORIGINS=http://localhost:3000
EMAIL_BASE_URL=https://integrations.emergentagent.com
